.card{
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.category-container {
    display: flex;
    flex-direction: column;
    background: #343940;
    border-radius: 20px;
    padding: 20px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-container h2{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 4px;
    margin-top: 0px;
}

.category-buttons {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.category-buttons::before {
    margin-left: auto;
}

.category-buttons::after, .category-buttons::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.category-buttons:hover::after, .category-buttons:hover::before {
    width: 100%;
}

.featured-container {
    display: flex;
    flex-direction: column;
    background-color: #343940;
    border-radius: 20px;
    margin-left: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 20px 20px 20px;
}

.title-search-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding: 0 10px 0 10px;
    margin-left: -100px;
}
.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


