.item-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff5252;
    margin: 10px;
    width: 160px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.item-price {
  display: flex;
  flex-direction: column;
  background-color: #2e8644;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 120px;
  align-items: center;
}

.item-name {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 120px;
  align-items: center;
  color: #343940;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  height: 40px;
}

.item-category {
  display: flex;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 1px solid antiquewhite;
}

.item-image {
    width: 150px;
    height: 150px;
    font-size: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.placeholder-image {
  width: 150px;
  height: 150px;
  font-size: 8px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.19);
}

.item-card h3{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
}

#cart-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #1088c9;
    background-color: #1088c9;
  }
  
  #cart-button, .button-icon, .button-text {
    transition: all 0.3s;
  }
  
  #cart-button .button-text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  #cart-button .button-icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 33px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #cart-button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  #cart-button:hover {
    background: #34974d;
    max-width: 150px;
  }
  
  #cart-button:hover .button-text {
    color: transparent;
  }
  
  #cart-button:hover .button-icon {
    width: 148px;
    transform: translateX(0);
  }
  
  #cart-button:active .button-icon {
    background-color: #2e8644;
  }
  
  #cart-button:active {
    border: 1px solid #2e8644;
  }