.listing-form {
    display: flex;
    flex-direction: column;
    background-color: #343940;
    padding: 20px;
    border-radius: 25px;
    transition: .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
    width: 250px;
    font-family: 'Quicksand';
    color: antiquewhite;
  }
  
  .listing-form:hover {
    /* transform: translateX(-0.5em) translateY(-0.5em); */
    border: 1px solid #171717;
    box-shadow: 10px 10px 0px #ff5252;
  }
  
  .heading {
    color: antiquewhite;
    padding-bottom: 2px;
    text-align: center;
    font-weight: bold;
    font-family: 'Quicksand';
    font-size: 30px;
    margin-top: 5px;
  }

  .form-label {
    font-size: 16px;
  }
  
  .input {
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    outline: none;
    padding: 5px;
    transition: .4s ease-in-out;
    font-family: 'Quicksand';
  }
  
  .input:hover {
    box-shadow: 6px 6px 0px #969696,
               -3px -3px 10px #ffffff;
  }
  
  .input:focus {
    background: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  }
  
  .listing-form .btn {
    margin-top: 5px;
    align-self: center;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    border: none;
    color: black;
    transition: .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  }
  
  .listing-form .btn:hover {
    box-shadow: 6px 6px 0px #ff5252,
               -3px -3px 10px #ffffff;
    transform: translateX(-0.5em) translateY(-0.5em);
  }
  
  .listing-form .btn:active {
    transition: .2s;
    transform: translateX(0em) translateY(0em);
    box-shadow: none;
  }

  .sell-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sell-logo {
    margin-left: 30px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(244, 81, 36, 0.5), 0 0 20px rgba(244, 81, 36, 0.8);
    border-radius: 50%;
  }